* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: #333;
}
button.BtnBack {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
button.BtnBack:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px white;
}
button.BtnBack i {
    transition: .4s;
}
button.BtnBack:hover i {
    animation: ArrowBack .7s linear infinite;
}
@keyframes ArrowBack {
    0% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-50px);
    }
}
form {
    background: #daa520;
    padding: 20px;
    height: auto;
    width: 30vw;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
form .Card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form .Card label {
    font-size: 20px;
    font-weight: bold;
}
form .Card input {
    width: 70%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: solid black 1px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
}
form .Card input:focus {
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}
form .Controls {
    margin-top: 30px;
}
form .Controls button.BtnTrocarSenha {
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}